.rates {
  width: 90vw;
  max-width: 1280px;
  min-height: calc(100vh - 80px - 50px - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rates__list {
  margin: 0;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}
