.nav-panel {
  width: 90vw;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

.nav-panel__link {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .2s;
  color: inherit;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}

.nav-panel__link:hover {
  cursor: pointer;
  opacity: .8;
}

.nav-panel__link_active {
  border-bottom: 3px solid #4040ff;
  font-weight: 500;
}

.nav-panel__text {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .nav-panel__link {
    font-size: 18px;
  }
}
