.header {
  width: 90vw;
  max-width: 1280px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}

.header__button {
  border: none;
  padding: 0;
  background: none;
  transition: opacity .2s;
}

.header__button:hover {
  cursor: pointer;
  opacity: .8;
}

.header__theme-icon {
  width: 32px;
  height: 32px;
  display: block;
  fill: #fff;
}

.header__theme-icon_theme_light {
  fill: #383838;
}

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 24px;
  }

  .header__theme-icon {
    width: 24px;
    height: 24px;
  }
}
