.footer {
  width: 90vw;
  max-width: 1280px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  transition: opacity .2s;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.footer__link:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 479px) {
  .footer {
    height: 40px;
  }
}
