.currency {
  display: grid;
  grid-template-columns: 42px 20px 40px 10px 1fr 40px 42px;
  align-items: center;
  gap: 20px;
}

.currency__flag {
  width: 42px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(34, 34, 34, .1);
  object-fit: cover;
  object-position: center center;
}

.currency__text {
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.currency__text_wrap {
  word-break: break-all;
}

@media screen and (max-width: 480px) {
  .currency {
    grid-template-columns: 24px 16px 36px 10px 1fr 36px 24px;
    gap: 10px;
  }

  .currency__flag {
    width: 24px;
  }

  .currency__text {
    font-size: 14px;
  }
}
